{% extends 'eye/index.html' %}
        <!-- Header Area End Here -->
        <!-- Inne Page Banner Area Start Here -->
        {% block appointment %}
        <section class="inner-page-banner bg-common inner-page-top-margin" data-bg-image="img/figure/figure2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumbs-area">
                            <h1>About Us</h1>
                            <ul>
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>About</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Inne Page Banner Area End Here -->
        <!-- About Us Start Here -->
        <section class="about-wrap-layout5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-box-layout13">
                            <h2 class="item-title">Our Best Laboratory
                                <span>Medical Center</span>
                            </h2>
                            <p>We offer extensive medical services for our patients recommend that you use officia.simply dummy
                                text of theprinting and typesetting industry medical officia.simply dummy text of theprinting
                                and typesetting industry.</p>
                            <ul class="list-info">
                                <li>Qualified Staff of Doctors</li>
                                <li>Feel like you are at Home Services</li>
                                <li>24x7 Emergency Services</li>
                                <li>Easy and Affordable Billing</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-box-layout14">
                            <div class="item-video">
                                <img src="/static/img/about/about2.jpg" alt="about">
                                <a class="play-btn popup-youtube" href="http://www.youtube.com/watch?v=1iIZeIy7TqM">
                                <i class="flaticon-play-button"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Us Area End Here -->
        <!-- Department Area Start Here -->
        <section class="departments-wrap-layout1 bg-light-accent100">
            <div class="container menu-list-wrapper">
                <div class="section-heading heading-dark text-center heading-layout1">
                    <h2>Our Departments</h2>
                    <p>Dedicated Services</p>
                </div>
                <div class="row menu-list">
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12 menu-item">
                        <div class="departments-box-layout1">
                            <div class="item-img">
                                <img src="/static/img/department/department1.jpg" alt="department" class="img-fluid">
                                <div class="item-btn-wrap">
                                    <a href="single-department.html" class="item-btn">Details</a>
                                </div>
                            </div>
                            <div class="item-content">
                                <h3 class="item-title">
                                    <a href="single-department.html">Dental Care</a>
                                </h3>
                                <ul class="department-info">
                                    <li>
                                        <i class="flaticon-doctor"></i>
                                        <span>06</span>Specialist Docotrs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12 menu-item">
                        <div class="departments-box-layout1">
                            <div class="item-img">
                                <img src="img/department/department2.jpg" alt="department" class="img-fluid">
                                <div class="item-btn-wrap">
                                    <a href="single-department.html" class="item-btn">Details</a>
                                </div>
                            </div>
                            <div class="item-content">
                                <h3 class="item-title">
                                    <a href="single-department.html">Orthopedic</a>
                                </h3>
                                <ul class="department-info">
                                    <li>
                                        <i class="flaticon-doctor"></i>
                                        <span>08</span>Specialist Docotrs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12 menu-item">
                        <div class="departments-box-layout1">
                            <div class="item-img">
                                <img src="img/department/department3.jpg" alt="department" class="img-fluid">
                                <div class="item-btn-wrap">
                                    <a href="single-department.html" class="item-btn">Details</a>
                                </div>
                            </div>
                            <div class="item-content">
                                <h3 class="item-title">
                                    <a href="single-department.html">Eye Care</a>
                                </h3>
                                <ul class="department-info">
                                    <li>
                                        <i class="flaticon-doctor"></i>
                                        <span>02</span>Specialist Docotrs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12 menu-item">
                        <div class="departments-box-layout1">
                            <div class="item-img">
                                <img src="img/department/department4.jpg" alt="department" class="img-fluid">
                                <div class="item-btn-wrap">
                                    <a href="single-department.html" class="item-btn">Details</a>
                                </div>
                            </div>
                            <div class="item-content">
                                <h3 class="item-title">
                                    <a href="single-department.html">Cardiology</a>
                                </h3>
                                <ul class="department-info">
                                    <li>
                                        <i class="flaticon-doctor"></i>
                                        <span>10</span>Specialist Docotrs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12 menu-item hidden">
                        <div class="departments-box-layout1">
                            <div class="item-img">
                                <img src="img/department/department1.jpg" alt="department" class="img-fluid">
                                <div class="item-btn-wrap">
                                    <a href="single-department.html" class="item-btn">Details</a>
                                </div>
                            </div>
                            <div class="item-content">
                                <h3 class="item-title">
                                    <a href="single-department.html">Dental Care</a>
                                </h3>
                                <ul class="department-info">
                                    <li>
                                        <i class="flaticon-doctor"></i>
                                        <span>06</span>Specialist Docotrs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12 menu-item hidden">
                        <div class="departments-box-layout1">
                            <div class="item-img">
                                <img src="img/department/department4.jpg" alt="department" class="img-fluid">
                                <div class="item-btn-wrap">
                                    <a href="single-department.html" class="item-btn">Details</a>
                                </div>
                            </div>
                            <div class="item-content">
                                <h3 class="item-title">
                                    <a href="single-department.html">Cardiology</a>
                                </h3>
                                <ul class="department-info">
                                    <li>
                                        <i class="flaticon-doctor"></i>
                                        <span>10</span>Specialist Docotrs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12 menu-item hidden">
                        <div class="departments-box-layout1">
                            <div class="item-img">
                                <img src="img/department/department2.jpg" alt="department" class="img-fluid">
                                <div class="item-btn-wrap">
                                    <a href="single-department.html" class="item-btn">Details</a>
                                </div>
                            </div>
                            <div class="item-content">
                                <h3 class="item-title">
                                    <a href="single-department.html">Orthopedic</a>
                                </h3>
                                <ul class="department-info">
                                    <li>
                                        <i class="flaticon-doctor"></i>
                                        <span>08</span>Specialist Docotrs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12 menu-item hidden">
                        <div class="departments-box-layout1">
                            <div class="item-img">
                                <img src="img/department/department3.jpg" alt="department" class="img-fluid">
                                <div class="item-btn-wrap">
                                    <a href="single-department.html" class="item-btn">Details</a>
                                </div>
                            </div>
                            <div class="item-content">
                                <h3 class="item-title">
                                    <a href="single-department.html">Eye Care</a>
                                </h3>
                                <ul class="department-info">
                                    <li>
                                        <i class="flaticon-doctor"></i>
                                        <span>02</span>Specialist Docotrs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12 menu-item hidden">
                        <div class="departments-box-layout1">
                            <div class="item-img">
                                <img src="img/department/department2.jpg" alt="department" class="img-fluid">
                                <div class="item-btn-wrap">
                                    <a href="single-department.html" class="item-btn">Details</a>
                                </div>
                            </div>
                            <div class="item-content">
                                <h3 class="item-title">
                                    <a href="single-department.html">Orthopedic</a>
                                </h3>
                                <ul class="department-info">
                                    <li>
                                        <i class="flaticon-doctor"></i>
                                        <span>08</span>Specialist Docotrs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-12 menu-item hidden">
                        <div class="departments-box-layout1">
                            <div class="item-img">
                                <img src="img/department/department3.jpg" alt="department" class="img-fluid">
                                <div class="item-btn-wrap">
                                    <a href="single-department.html" class="item-btn">Details</a>
                                </div>
                            </div>
                            <div class="item-content">
                                <h3 class="item-title">
                                    <a href="single-department.html">Eye Care</a>
                                </h3>
                                <ul class="department-info">
                                    <li>
                                        <i class="flaticon-doctor"></i>
                                        <span>02</span>Specialist Docotrs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
{% endblock appointment %}
